
<div class="main-heading-div">
  <h1 class="main-heading">Unit Conversion</h1>
</div>
<nav class="navbar navbar-expand-sm">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/temp-conversion">Temperature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/volume-conversion">Volume</a>
        </li>

      </ul>
    </div>
  </nav>

